body {
    background-color:silver;
}
header, main, footer {
    margin-left: 20%;
    width: 80%;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
}
nav{
    top: 0px;
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0px;
    background-color: red;
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding-top: 150px;
    font-size: 32px;
}

header{
    flex-direction:row;
    justify-content: space-around;
}
hr{

}
.box-1 p {
    padding-top: 5%;
    text-transform: uppercase;

}
p.name {
    font-size: 35px;
}
p.job{
    font-size: 28px;
}
.box-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-2 button {
    padding: 5%;
    background-color:brown;
    font-size: medium;
    margin-bottom: 5%;
}

main{
    display: flex;
    flex-direction: column;
}

section.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: red 1px solid;

}
section.info p{
    text-align: center;
    flex-basis: 600px;
    font-size: 18px
}
section.info h1 {
    font-size: 32px;
}
div.articles{
    flex-basis: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
div.articles article.tehnical{
    flex-basis: 200px;
    
}
div.articles article.tehnical h1{
    text-align: center;
}
div.lists{
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    
}

section.info ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
section.info ul li{
    margin-bottom: 15px;
    text-align: center;
    width: 100px;
    display: inline;
    font-size: 18px;
    border-bottom: gray 1px solid;
}
section.info article.experience{
    flex-basis: 600px;
    position: relative;
}
section.info article.experience h1{

    margin-bottom: 0;
    margin-top: 5%;
    font-size: 24px;
}
section.info article.experience h2{
    font-weight: normal;
    font-style: italic;
    margin: 0;
    font-size: 18px;
}

.work-years{
    position: absolute;
    right: 0px;
    top: 5%;
}
@media screen and (max-width:800px) {
    nav{
        display: none;
    }
    header, main, footer {
        margin-left: 0%;
    }

}