body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: silver;
}
section{
    background-color: white;
    width: 100%;
    height: 450px;
    position: relative;
    border-top: black 1px solid;
}
section.footer{
    text-align: center;
    background-color:red;
    height: 100%;
    border-top: black 1px solid;
    position: fixed;
    width: 5%;
    bottom: 0px;
    left: 0px;
}
section.footer p{
    margin-top: 500%;
}
section.half{
    background-color: white;
    width: 100%;
    height: 225px;
}

div.main-info{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}

div.content{
    text-align: center;
    float: left;
    width: 60%;
    height: 100%;
}
div.content p{
    height: 20%;
    border-bottom: brown 1px solid;
    color:black;
    font-size: 48px;
}
div#mail{
    float: left;
    text-align: center;
    width: 14%;
    height: 100%;
    border:solid black 1px;
}
div#mail p{
    text-align: center;
    font-size: 28px;
}
div#part1{
    vertical-align: middle;
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

div#part1 h3{
    margin:20%;
}
h1 {
    color:red;
    text-align: center;
}
h3.content{
    text-align: center;
}
h3{
    font-size: 29px;
}
img{
    margin-top: 10%;
    margin-left: 20px;
    width: 200px;
    height: 300px;
}
td {
    text-align: center;
}

table{
    width:100%;
    height:100%;
}
div.content-main{
    
    text-align: center;
    float: left;
    width: 74%;
    height: 100%;

}
ul{
    text-align: center;
    display: inline;
    border-bottom: solid blue 1px;

}
li{
    list-style-type: none;
    padding: 35px;
    font-size: 30px;
    word-spacing: 200px;
    height: 15%;
}
img.watermark{
    position: absolute;
    width: 100px;
    height: 50px;
    right: 50px;
    bottom: 120px;
    opacity: .3;
}